{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% if app.user %}
    <h1 style="text-align: center;">Bienvenue {{app.user.pseudo}}</h1>
{% else %}
<h1 style="text-align: center;">Bienvenue à vous!</h1>
{% endif %}

<table class="table table-dark table-striped-columns">
    <thead style="text-align: center;">
        <tr>
            <th>Intitulé Session</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
            <th>Places reservées</th>
            <th>Places disponible</th>
            <th>Détail Programme</th>
        </tr>
    </thead>
    <tbody style="text-align: center;">
        {% for session in sessions %}
        <tr>
            <td>{{session}}</td>
            <td>{{session.dateBegin| date ('d/m/Y')}}</td>
            <td>{{session.dateEnd| date ('d/m/Y')}}</td>
            <td>{{session.NbPlace}}</td>
            <td>{{session.resa}}</td>
            <td>{{session.dispo}}</td>
            <td><a href="{{ path('show_session', {'id': session.id})}}" style="color: white;">Cliquez ici</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
