{% extends 'base.html.twig' %}

{% block title %}Détail d'une category{% endblock %}

{% block body %}
    <h1>{{ category }}</h1>

    <p>
        Nom de la catégorie : <strong>{{category.name }}</strong><br>
    </p>
    <h2>Liste des modules</h2>

            {% for moduleSession in category.moduleSessions %}

            {{moduleSession}}
            <a href="{{ path('edit_module', {'id': moduleSession.id, 'categoryID': category.id})}}" class="btn btn-info">Edit</a>
            <a href="{{ path('delete_module', {'id': moduleSession.id})}}" class="btn btn-danger">Delete</a><br>
            {% endfor %}
    <br><br>

    <h2>Ajouter un module</h2>

    <a href="{{ path('add_module', {'categoryID': category.id})}}">Ajouter un module</a>

{% endblock %}