{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

    <h1>Listes des catégories</h1>

    <a href="{{ path('add_category')}}">Ajouter une category</a><br><br><br>

    {% for category in categories %}

        <a href="{{ path('show_category', {'id': category.id})}}">{{category}}</a>
        <a href="{{ path('edit_category', {'id': category.id})}}" class="btn btn-info">Edit</a>
        <a href="{{ path('delete_category', {'id': category.id})}}" class="btn btn-danger">Delete</a> <br><br>

    {% endfor %}

{% endblock %}