{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block body %} {# parti contenant ce qu'on veux affiché #}

{% if edit %} {# on vérifie l'état de edit qui est un booléen #}
        <h1 style="text-align: center;">Modifier infos stagiaire</h1>
    {% else %}
        <h1 style="text-align: center;">Ajouter un stagiaire</h1>
    {% endif %}

    {{form_start(formAddStagiaire)}}

    <div class="form" style="display: flex; flex-wrap: wrap;">
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.firstname)}}
        </div><br>
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.lastname)}}
        </div><br>
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.birth_date)}}
        </div><br>
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.gender)}}
        </div><br>
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.city)}}
        </div><br>
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.cp)}}
        </div><br>
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.mail)}}
        </div><br>
        <div style="width: 30%; margin: 20px;">
            {{form_row(formAddStagiaire.phone_number)}}
        </div><br>
        <div style="width: 30%; margin: 30px;">
            {{form_row(formAddStagiaire.submit, {'label':'Soumettre'})}}
        </div>
    </div>

    {{form_end(formAddStagiaire)}}

{# {{ dump(formAddStagiaire.sessions) }} #}
{% endblock %}