{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1 style="text-align: center;">Détail du stagiaire</h1><br><br>

<div style="display: flex; justify-content: center;">
    <div class="card" style="width: 20rem;">
        <div class="card-body" >
        <h4 class="card-title" style="color: blue">Fiche Stagiaire<br> <strong>{{ stagiaire }}</strong></h4><br>
        <p class="card-text">
            Sexe : {{stagiaire.gender }}<br>
            Date de naissance : {{stagiaire.BirthDate | date('d/m/Y')}} ({{stagiaire.age}} ans)<br>
            Ville : {{stagiaire.City}}<br>
            Code postal : {{stagiaire.Cp}}<br>
            Courriel : {{stagiaire.Mail}}<br>
            Téléphone : {{ stagiaire.PhoneNumber}}<br>
            </p>
            <h4 style="color: blue">Liste des sessions</h4>
            {% for session in stagiaire.sessions %}
            <p style="display: flex; justify-content: center;"></p><strong>{{ session }}</strong><br> (du {{session.dateBegin | date('d/m/Y')}} au {{session.dateEnd | date('d/m/Y')}})<br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}