{% extends 'base.html.twig' %}

{% block title %}Ajouter un session{% endblock %}

{% block body %} {# parti contenant ce qu'on veux affiché #}

{% if edit %}
        <h1 style="text-align: center;">Modifier infos session</h1>
    {% else %}
        <h1 style="text-align: center;">Ajouter une session</h1>
{% endif %}

    {{form_start(formAddSession)}}

        {{form_row(formAddSession.name)}}

        {{form_row(formAddSession.date_begin)}}

        {{form_row(formAddSession.date_end)}}

        {{form_row(formAddSession.Nb_place)}}

        {{form_row(formAddSession.stagiaires)}}

        {{form_row(formAddSession.submit, {'label':'Ajouter' })}}

    {{form_end(formAddSession)}}

{# {{ dump(formAddSession.sessions) }} #}
{% endblock %}