{% extends 'base.html.twig' %}

{% block title %}Ajouter un session{% endblock %}

{% block body %} {# parti contenant ce qu'on veux affiché #}

{% if edit %}
        <h1 style="text-align: center;">Modifier infos session</h1>
    {% else %}
        <h1 style="text-align: center;">Ajouter une session</h1>
{% endif %}

    {{form_start(form)}}

        {{form_row(form.name)}}

        {{form_row(form.date_begin)}}

        {{form_row(form.date_end)}}

        {{form_row(form.Nb_place)}}

        {# on va contruire dynamiquement la liste des modules existants à partir de Programme #}

        <h2 style="text-align: center;">Programme de la Session</h2>

        <div class="form-group row ">
            <div class="col-form-label col-sm-2">&nbsp;</div>
            <div id="programmes-fields-list" class="col-sm-10 remove-collection-widget"
                data-prototype="{{ form_widget(form.programmes.vars.prototype)|e }}"
                data-session="{{sessionId}}"
                data-widget-tags="{{ '<p></p>'|e }}"
                data-widget-counter="{{ form.programmes|length }}">

                    {% for programmeField in form.programmes %}
                        <p>
                            {{ form_errors(programmeField) }}
                            {{ form_widget(programmeField, {'attr': {'class': 'borders'}}) }}
                        </p>
                    {% endfor %}

            </div>
        </div>
        <div class="form-group row flex-action">
            <button type="button"
                class="add-another-collection-widget button"
                style="width: 70%; margin: 0 auto;"
                data-list-selector="#programmes-fields-list">Ajouter un nouveau module</button>
        </div>

        {# empêche l'apparition d'une légende "programmes", si la collection est vide (en cas de création d'une nouvelle session) #}
        {% do form.programmes.setRendered %}<br>


        <div style="display: flex; justify-content: center; ">{{form_row(form.submit, {'label':'Ajouter'})}}</div>


    {{form_end(form)}}

{% endblock %}