{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <h1 style="text-align: center;">Détail de la session</h1><br><br>

    <h2 style="text-align: center; color: black;">Session<br> <strong>{{ session }}</strong></h2><br>
    <table class="table table-dark table-striped-columns" >
        <thead style="text-align: center;">
            <tr>
                <th><strong>Date de début</strong></th>
                <th><strong>Date de fin</strong></th>
                <th><strong>Durée</strong></th>
                <th><strong>Nombre de places</strong></th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr>
                <td>{{session.DateBegin | date('d/m/Y')}}</td>
                <td>{{session.DateEnd | date('d/m/Y')}}</td>
                <td>{{session.Duree}}</td>
                <td>{{session.NbPlace}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-dark table-striped-columns">
        <thead style="text-align: center;">
            <tr>
                <th><strong>Catégories</strong></th>
                <th><strong>Modules</strong></th>
                <th><strong>Durée</strong></th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for programme in session.programmes %}
            <tr>
                <td>{{programme.module.category}}</td>
                <td>{{programme.module}}</td>
                <td>{{programme.Nbjours}} jours</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    {% if is_granted('ROLE_ADMIN') %}
        <div style="display: flex; justify-content: center;">
            <div class="card" style="width: 20rem;">
                <div class="card-body" >
                <h4 class="card-subtitle mb-2 text-muted" style="text-align: center;"><strong>Liste des stagiaires inscrits</strong></h4><br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% for stagiaire in session.stagiaires %}
                        <p style="text-align: center;">Stagiaire: <strong>{{stagiaire}}</strong><br></p>
                        <a href="{{ path('remove_session', {'id': session.id, 'idStagiaire': stagiaire.id})}}" class="btn btn-danger" style="display: flex; justify-content: center;">Retirer de la session</a>
                        {% endfor %}
                    </li><br>
                </ul><br>
                <h4 class="card-subtitle mb-2 text-muted" style="text-align: center;"><strong>Liste des stagiaires non inscrits</strong></h4><br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% for stagiaire in stagiaires %}
                        <p style="text-align: center;">Stagiaire: <strong>
                            {{stagiaire.firstname}}
                            {{stagiaire.lastname}}<br></strong>
                        </p>
                        <a href="{{ path('add_to_session', {'id': session.id, 'idStagiaire': stagiaire.id})}}" class="btn btn-primary" style="display: flex; justify-content: center;">Ajouter à la session</a><br>
                        {% endfor %}
                    </li><br>
                </ul><br>
                </div>
            </div>
    {% endif %}
    
    </div>
    {% endblock %}