{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

    <h1>Listes des sessions</h1>

    <a href="{{ path('add_session')}}">Ajouter une session</a><br><br><br>

    {% for session in sessions %}

        <a href="{{ path('show_session', {'id': session.id})}}">{{session}}</a>
        <a href="{{ path('edit_session', {'id': session.id})}}" class="btn btn-info">Edit</a>
        <a href="{{ path('delete_session', {'id': session.id})}}" class="btn btn-danger">Delete</a> <br><br>

    {% endfor %}

{% endblock %}
